{% extends "base.html" %}


{% block content %}
{# Jumbotron #}
 <section id="cb-header-1-1" class="cb-header-block cb-header-1-1" data-pg-collapsed>
    <header style="background-image:url(static/image/business.jpg);" class="text-shadow">
        <div class="container">
            <div class="header-content">
                <div class="title editContent" style="outline: none; cursor: inherit;">
                    <h1>Chocka Blocks</h1>
                </div>
                <div class="action">
                    <p class="editContent" style="outline: none; cursor: inherit;">Chocka Blocks is a fully responsive, customizable, powerful and lightweight Drag i Drop builder that will introduce your business in the most elegant way. </p>
                    <br>
                    <br>
                    <button class="btn btn-default text-uppercase mr20 mb20 btn-dark btn-lg" style="outline: none; cursor: inherit;" type="button">I need a Worker</button>
                    <button class="btn btn-default text-uppercase mr20 mb20 btn-dark btn-lg" style="outline: none; cursor: inherit;" type="button">I need work</button>
                </div>
            </div>
        </div>
    </header>
</section>
{% endblock %}
