:root {
    --dark-primary-color: #333333;
    --default-primary-color: #EF5342;
    --light-primary-color: #F2F2F2;
    --accent-color: #777777;
    --primary-text-color: #333333;
    --secondary-text-color: #FFFFFF;
    --tertiary-text-color: #EF5342;
    --divider-color: #E1E1E1;
}

/* Global */
html,
body {
    height: 100%;
}

/* Navigation */
#navigation2 .navbar {
    background: var(--dark-primary-color);
    padding-bottom: 10px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#navigation2 .navbar-brand img {
    height: 38px;
}

@media (max-width: 1000px) {
    #navigation2 .navbar-brand img {
        height: 24px;
    }
}

#navigation2 .navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
    color: var(--secondary-text-color);
    border: 0;
}

#navigation2 .navbar-default .navbar-nav > .active {
    color: var(--secondary-text-color);
    background: none;
    border-bottom: 2px solid var(--light-primary-color);
}

#navigation2 .navbar-default .navbar-nav > .active > a {
    color: var(--secondary-text-color) !important;
    background: none;
}

#navigation2 .navbar-default .navbar-nav > .active > a:hover,
#navigation2 .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}

#navigation2 .navbar-default .navbar-nav > li {
}

#navigation2 .navbar-default .navbar-nav > li:hover {
    background: var(--default-primary-color);
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--light-primary-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#navigation2 .navbar-default .navbar-nav > li:last-child {
}

#navigation2 .navbar-default .navbar-nav > li > a {
    color: var(--secondary-text-color) !important;
    background: none;
}

#navigation2 .navbar-default .navbar-nav > li > a:hover,
#navigation2 .navbar-default .navbar-nav > li > a:focus {
    color: var(--secondary-text-color) !important;
    background: none;
}

#navigation2 .navbar-nav > li > .dropdown-menu {
    background-color: var(--dark-primary-color);
    color: var(--secondary-text-color);
}

#navigation2 .navbar-nav > li > .dropdown-menu a {
    color: var(--secondary-text-color);
}

#navigation2 .dropdown-menu li > a:hover,
#navigation2 .dropdown-menu li > a:focus,
#navigation2 .dropdown-submenu:hover > a {
    background-color: var(--default-primary-color);
    color: var(--secondary-text-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Profile Page*/
#wrapper {
    padding: 0;
    height: 100%;
}

#sbrow {
    height: 100%;
    margin: 0px;
}

#profilecontentwrapper,
#sbwrapper {
    padding: 0px;
    height: 100%;
}

.navigation {
    text-align: center;
    padding: 0;
    list-style: none;
}

.navigation li {
    margin: 20px 30px;
    padding: 0;
    display: inline-block;
}

.navigation li a {
    padding: 20px 30px;
    color: var(--dark-primary-color);
}

.navigation li.active a {
    background-color: var(--default-primary-color);
    color: var(--dark-primary-color);
}

.navigation li:hover a {
    padding: 20px 30px;
    background-color: var(--divider-color);
    transition: 0.5s; /* delays for 1 second */
	-webkit-transition: 0.5s; /* for Safari & Chrome */
}

.bit-panel {
    padding: 20px;
    margin: 0 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--secondary-text-color);
}

#custom-search-input .input-group{
    margin: 20px 0px 20px 50px;

}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;

    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: var(--dark-primary-color);

    /** belows styles are working good */





    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: var(--default-primary-color);
}

.search-query:focus + button {
    z-index: 3;
}

/* sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: var(--dark-primary-color);
    height: 100%;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul.nav {
    display: block;
    text-align: center;
    padding: 0 20% 0 20%;
}

.profile-usermenu ul li {
    border-bottom: 1px solid var(--accent-color);
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: var(--light-primary-color);
    color: var(--tertiary-text-color);
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: var(--primary-text-color);
    background-color: var(--default-primary-color);
    border-left: 2px solid var(--accent-color);
    margin-left: -2px;
}

/* Profile Content */
#profilecontentwrapper {
    background-color: var(--light-primary-color);
}



.profile-tablehead {
    text-align: left;
}