{% macro render_field(field) %}
  <label class="col-md-3 control-label"> {{ field.label }} </label>
  <div class="col-md-9">{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
{% endmacro %}


{%  macro message_modal() %}
<div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="FormMessage" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="text-center"  id="myModalLabel">Message</h4>
        </div>
        <div class="modal-body">
          <br />
          <!-- Select Destinataire -->
          <div class="control-group">
            <label for="user">User</label>
            <input id="FormMessageUser" class="form-control" name="User...">
          </div>
          <br />
          <!-- input Subject -->
          <div class="control-group">
            <label for="User">Subject</label>
            <input  id="FormMessageSubject" name="Subject..." type="text" class="form-control">
          </div>
          <br />
          <!-- TextArea Message -->
          <div class="control-group">
            <label for="User">Message</label>
            <textarea id="FormMessageMessage" name="message" class="form-control" rows="5"></textarea>
          </div>
          <br />
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button id="FormMessageSend" type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Discard</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{%  endmacro %}