{% extends "profiles/index.html" %}

{% block title %}
Profile Management
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import message_modal %}
<div class="container-fluid" id="wrapper" data-pg-collapsed>
    <div class="row" id="sbrow">
        <div class="col-md-3 col-lg-3" id="sbwrapper">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{ profilepicture }}" class="img-responsive d-block" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ current_user.first_name }} {{ current_user.last_name }}
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
{#                <div class="profile-userbuttons">#}
{#                    <button type="button" class="btn btn-success btn-sm">Follow</button>#}
{#                    <button type="button" class="btn btn-danger btn-sm">Message</button>#}
{#                </div>#}
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                     <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">

                            {{ render_field(form.profilepic,class='form-control', id="profilepic") }}

                        </div>
                        <input type="submit" value="Upload">
                     </form>
                    <ul class="nav">
                        <li class="active">
                            <a href="#"> <i class="glyphicon glyphicon-home"></i>
							Overview </a>
                        </li>
                        <li>
                            <a href="#"> <i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> <i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
                        </li>
                        <li>
                            <a href="#"> <i class="glyphicon glyphicon-flag"></i>
							Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9" id="profilecontentwrapper">
            <ul class="navigation">
                <li class="active">
                    <a data-toggle="tab" href="#maintab-contracts"> <span class="glyphicon glyphicon-user"> Contracts </span> </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#maintab-jobs"> <span class="glyphicon glyphicon-cog"> Jobs </span> </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#maintab-inbox"> <span class="glyphicon glyphicon-envelope"> Inbox </span> </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#maintab-4"> <span class="glyphicon glyphicon-calendar">  IDK </span> </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="bit-panel tab-pane active" id="maintab-contracts" role="tab-panel" aria-labelledby="maintab-contracts-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" href="#offer" data-toggle="tab" role="tab" aria-controls="offer-tab" aria-selected="true">Accepted Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#currentwork" data-toggle="tab" role="tab" aria-controls="currentwork-tab" aria-selected="false">Contract Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pastwork" data-toggle="tab" role="tab" aria-controls="pastwork-tab" aria-expanded="false">Past Work</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="offer" aria-labelledby="offer-tab">
                            <table class="table fade in">
                                <thead class="text-center">
                                    <tr>
                                        <th class="profile-tablehead">Contracts</th>
                                        <th class="profile-tablehead">Accepted Date</th>
                                        <th class="profile-tablehead">Payout Upon Completion</th>
                                        <th class="profile-tablehead">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%  for contract in contractlist %}
                                    <tr>
                                        <th scope="row"><a href="#">{{ contract['title'] }}</a></th>
                                        <td>{{ contract['accepted_date']['$date']|datetimeformat}}</td>
                                        <td>{{ contract['']}}</td>
                                        <td>{{ contract['status']}}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="currentwork" aria-labelledby="curentwork-tab">
                            <table class="table fade in" role="tabpanel" aria-labelledby="curentwork-tab">
                                <thead>
                                    <tr>
                                        <th class="profile-tablehead">Contracts</th>
                                        <th class="profile-tablehead"># of Bids</th>
                                        <th class="profile-tablehead">My Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Project 1</th>
                                        <td>50</td>
                                        <td>$250</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" role="tabpanel"  id="pastwork" aria-labelledby="pastwork-tab">
                            <table class="table fade in">
                                <thead>
                                    <tr>
                                        <th class="profile-tablehead">Project Name3</th>
                                        <th class="profile-tablehead"># of Bids</th>
                                        <th class="profile-tablehead">My Bids</th>
                                        <th class="profile-tablehead">Username</th>
                                        <th class="profile-tablehead">Username</th>
                                        <th class="profile-tablehead">Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Project 1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                        <td>@mdo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bit-panel tab-pane" id="maintab-jobs" role="tab-panel" aria-labelledby="maintab-jobs-tab">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" href="#job" data-toggle="tab" role="tab" aria-controls="job-tab" aria-selected="true">Accepted Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#watchlist" data-toggle="tab" role="tab" aria-controls="currentwork-tab" aria-selected="false">Contract Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pastwork" data-toggle="tab" role="tab" aria-controls="pastwork-tab" aria-expanded="false">Past Work</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="job" aria-labelledby="job-tab">
                            <table class="table fade in">
                                <thead class="text-center">
                                    <tr>
                                        <th class="profile-tablehead">Job</th>
                                        <th class="profile-tablehead">Company</th>
                                        <th class="profile-tablehead">Applied Date</th>
                                        <th class="profile-tablehead">Expiration Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%  for contract in contractlist %}
                                    <tr>
                                        <th scope="row"><a href="#">{{ contract['title'] }}</a></th>
                                        <td>{{ contract['accepted_date']['$date']|datetimeformat}}</td>
                                        <td>{{ contract['']}}</td>
                                        <td>{{ contract['status']}}</td>
                                    </tr>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="watchlist" aria-labelledby="curentwork-tab">
                            <table class="table fade in" role="tabpanel" aria-labelledby="curentwork-tab">
                                <thead>
                                    <tr>
                                        <th class="profile-tablehead">Job</th>
                                        <th class="profile-tablehead">Company</th>
                                        <th class="profile-tablehead">Descritption</th>
                                        <th class="profile-tablehead">Expiration Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">AI Engineer</th>
                                        <td>Starks Lab</td>
                                        <td>FAKE INFO</td>
                                        <td>SumDay</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bit-panel tab-pane" id="maintab-inbox" role="tab-panel" aria-labelledby="maintab-inbox-tab">
                    <table class="table" id="inbox">
                                <thead class="text-center">
                                    <tr>
                                        <th class="profile-tablehead">User</th>
                                        <th class="profile-tablehead">Subject</th>
                                        <th class="profile-tablehead">Status</th>
                                        <th class="profile-tablehead">Date</th>
                                        <th class="profile-tablehead"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%  for message in messages %}
                                    <tr>
                                        <div class="checkbox"><input type="checkbox" value=""></div>
                                        {% if current_user.username == message["recipient"] %}
                                        <th scope="row"><a href="/profile">{{ message["author"] }}</a></th>
                                        {% else %}
                                        <th scope="row"><a href="/profile">{{ message["recipient"] }}</a></th>
                                        {% endif %}
                                        <td>{{ message["subject"] }}</td>
                                        <td>{{ message["content"]|truncate(20, true) }}</td>
                                        <td>{{ message["modified_at"]["$date"]|datetimeformat}}</td>
                                    </tr>

                                {%  endfor %}
                                </tbody>
                    </table>
                    <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalMessage">
                      <span class="glyphicon glyphicon-envelope"></span> Message
                    </button>
                </div>
                <div class="bit-panel tab-pane" id="maintab-4" role="tab-panel" aria-labelledby="maintab-4-tab">

                </div>
            </div>
        </div>
    </div>
</div>
{{ message_modal() }}
{% endblock %}
